<h1>New user</h1>

<form accept-charset="UTF-8" action="users/new" method="post">
  <label for="username">Username:</label>
  <input id="q" name="username" type="text" /><br>
   <label for="email">Email:</label>
  <input id="q" name="email" type="email" /><br>
   <label for="password">Password:</label>
  <input id="q" name="password" type="password" /><br>
  <input type="submit" value="Submit">
</form>